<div class="content" [ngClass]="styleClass()">
  <!-- Header -->
  @if (headerTemplate() || header()) {
  <div class="content-header">
    @if (headerTemplate()) {
    <ng-container [ngTemplateOutlet]="headerTemplate()" />
    } @else {
    <h3 class="text-xl font-bold">{{ header() }}</h3>
    } @if (closable()) {
    <div class="flex justify-end items-center gap-2 w-fit">
      <p-button
        (onClick)="close($event)"
        icon="pi pi-times"
        severity="secondary"
        [text]="true"
        size="small"
      />
    </div>
    }
  </div>
  }

  <!-- Body -->
  <div class="content-body">
    @if (bodyTemplate()) {
    <ng-container [ngTemplateOutlet]="bodyTemplate()" />
    }
    <ng-content />
  </div>

  <!-- Footer -->
  @if (footerTemplate()) {
  <div class="content-footer">
    <ng-container [ngTemplateOutlet]="footerTemplate()" />
  </div>
  }
</div>
