<app-content styleClass="h-full" [cardMode]="true">
  <!-- Header personalizado -->
  <ng-template #header>
    <div class="flex justify-between items-center gap-2 w-full">
      <img src="icon.png" alt="icono de la app" width="30" />
      <h1 class="text-xl">Titulo personalizado</h1>
    </div>
  </ng-template>

  <!-- Body personalizado -->
  <ng-template #body>
    <p>Contenido personalizado usando ng-template</p>
    <p>Con las últimas características de Angular</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo</p>
    <p>Contenido adaptativo dsvfdsf dskjf wekf ewkf kewf ewlkf lewm fkjew fkew fdjewfijwefkjew qfjew nfijwe</p>
  </ng-template>

  <!-- Footer personalizado -->
  <ng-template #footer>
    <div class="flex justify-end items-center gap-3">
      <p-button
        (onClick)="cancel()"
        icon="pi pi-times"
        label="Cancelar"
        [outlined]="true"
        severity="danger"
      />

      <p-button
        (onClick)="accept()"
        icon="pi pi-check"
        label="Aceptar"
        severity="primary"
      />
    </div>
  </ng-template>
</app-content>
