<p-fileupload
  [multiple]="true"
  name="files[]"
  accept="image/*"
  maxFileSize="5000000"
  (onSelect)="onFileSelect($event)"
>
  <ng-template
    #header
    let-files
    let-chooseCallback="chooseCallback"
    let-clearCallback="clearCallback"
  >
    <div class="flex flex-wrap justify-start items-center flex-1 gap-4">
      <p-button
        (onClick)="chooseCallback()"
        icon="pi pi-images"
        severity="primary"
        [rounded]="true"
        [outlined]="true"
      />
      @if (files && files.length > 0) {
      <p-button
        (onClick)="clearCallback()"
        icon="pi pi-times"
        [rounded]="true"
        [outlined]="true"
        severity="danger"
      />
      }
    </div>
  </ng-template>

  <ng-template #empty>
    <div class="flex items-center justify-center flex-col">
      <div
        class="flex justify-center items-center !border-2 !rounded-full w-[4rem] h-[4rem]"
      >
        <i class="pi pi-cloud-upload !text-3xl !text-muted-color"></i>
      </div>
      <p class="mt-3 mb-0">Arrastra y suelta tus imagenes aquí</p>
    </div>
  </ng-template>

  <ng-template #content let-files let-removeFileCallback="removeFileCallback">
    <div class="w-full">
      @if (files?.length > 0) {
      <div class="flex flex-wrap gap-4">
        @for (file of files; track $index) {
        <app-image
          role="presentation"
          [alt]="file.name"
          [src]="file.objectURL"
          width="100"
          [preview]="true"
          [showRemove]="true"
          (onRemove)="removeFileCallback(); $event.stopPropagation()"
        />
        }
      </div>
      }
    </div>
  </ng-template>

  <ng-template #file></ng-template>
</p-fileupload>
