<div class="grid grid-cols-4 gap-2">
  <div class="w-full p-4 shadow-md col-span-2 lg:col-span-1">
    <app-card-1 />
  </div>

  <div class="w-full p-4 shadow-md h-[300px] col-span-2 lg:col-span-1">
    <app-card-3 />
  </div>

  <div class="w-full p-4 shadow-md h-auto col-span-2 lg:col-span-1">
    <app-card-4 />
  </div>

  <div class="w-full p-4 shadow-md h-[300px] col-span-2 lg:col-span-1 flex justify-center items-center">
    <p-button
      label="Dialogo con tarjeta"
      severity="primary"
      (onClick)="open()"
    />
  </div>
</div>
