<app-content header="Tarjetas" [showBreadcrumb]="true" [closable]="true">
  <div class="grid grid-cols-4 gap-4">
    <app-card-1 class="col-span-4 sm:col-span-2 md:col-span-1" />

    <app-card-3 class="col-span-4 sm:col-span-2 md:col-span-1" />

    <app-card-4 class="col-span-4 sm:col-span-2 md:col-span-1" />
  </div>

  <ng-template #footer>
    <div class="w-full p-4 flex justify-end items-center">
      <p-button
        label="Dialogo con tarjeta"
        severity="primary"
        (onClick)="open()"
      />
    </div>
  </ng-template>
</app-content>
